*{
    margin: 0;
    padding: 0;    
}

.contenedorActs {
    min-width: 800px;
}

.actividadesTest {    
    border-radius: 15px;
    background-color:whitesmoke;
    border: solid 2px white;
    border-bottom-width: 10px;  
    max-width: 100%;
    border-radius: 6px;
    

    &:hover ~ .infoActividad{               
        translate: 0 -103%;
        transition: 1.2s;
        opacity:0.8;
        display: block;
        
    }
}

.infoActividad {    
    background-color: black;
    color: white;
    padding-left:1em;
    opacity: 0;  
    display: none;
    padding: 2em;   
    
}

.actividadesTest--escalada {
    @extend .actividadesTest;
    border-bottom-color:$rojo-RN; 
}
.actividadesTest--bici {
    @extend .actividadesTest;
    border-bottom-color: $amarillo-RN 
}
.actividadesTest--senderismo {
    @extend .actividadesTest;
    border-bottom-color: $verde-RN 
}

.botonM {
    z-index: 9999;
    
}

@mixin titleActs ($colorBck) {
    background-color: $colorBck;
    border-radius: 6px;
    padding: 3.5px;       
}

.titleEsc {
    @include titleActs ($rojo-RN)
}

.titleBici {
    @include titleActs ($amarillo-RN)
}

.titleSen {
    @include titleActs ($verde-RN)
}

// .masInfo {
//     position: absolute;
//     z-index: 9999
// }