*{
    margin: 0;
    padding: 0;    
}


// --------------- Header --------------- // 

.navbar {
    opacity: 1;
    color: white
}

// --------------- Footer --------------- //

.footerGrad {
    text-align: center;
    padding: 8px 0px 10px 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.884);   
    
    &__piePagP {
        padding: 1px;
        margin-top: 10px;
    }
}

// --------------- Titulos --------------- //
.titulosSitio {
    text-align: center;

    &__h1{
        font-size: 80px;
        padding-top: 1.5em;
        color: black;
        font-family: $font-titulos-cursiva;
        font-style: italic;
    }

    &__h3{
        text-align: center;
        font-size: 25px; 
        padding-bottom: 1.5em; 

    }
}


// --------------- error404 --------------- //
.error {
    margin-top: 30%;
    font-weight: 700;
}