*{
    margin: 0;
    padding: 0;    
}

// --------------- Header --------------- //Estilo 100% bootstrap 

.navbar {
    opacity: 1;
    color: white
}

// --------------- Footer --------------- //

.footerGrad {
    text-align: center;
    padding: 8px 0px 10px 0px;
    background-image:linear-gradient(to right, rgb(42, 167, 135), rgba(165, 42, 42, .1));   
    
    &__piePagP {
        padding: 1px;
        margin-top: 10px;
    }
}


 