*{
    margin: 0;
    padding: 0;    
}


.frontPageBanner {
    height: 93vh;
    background-image: url("../imagenes/portada.jpg");
    background-size: cover;
    background-attachment: fixed; 
}

.bannerContent {   
    
    &__Marca {
        font-family: $font-titulos-base; 
        font-style: italic;           
        font-size: 7.5em;         
        color:$verde-RN;
    }

    &__Msj {
        font-family: $font-textos;     
        font-size: 2.5em;
        font-weight:600;
        color: white;    
    }

}

.callout {
    margin-top: 4em;

        &__calloutTitulo {
            font-family: $font-textos;
            font-weight: 900;
            font-size: 2em;
        }
 
        &__calloutContent {
            margin-top: 2em;
            text-align: justify;
            font-size: 1.2em;
        }
 
}

 
.ofertasHomebox {
    margin-top: 4em;     

    &__titulosHomeBox {
        font-family: $font-textos;
        font-size: 1.2rem;
        margin-top: 1.2em;  
        line-height: 1.5;   
        color: black;
        margin-bottom: 4em;
    }
}


