*{
    margin: 0;
    padding: 0;    
}


$font-titulos-spectral: 'Spectral', serif;
$font-titulos-base: 'Libre Baskerville', serif;
$font-titulos-cursiva: 'Meow Script', cursive;
$font-textos: 'IBM Plex Sans Thai', sans-serif;


$caja-roja: rgba(165, 42, 42, 0.493);
$button-bckg: brown;
$button-royalB: royalblue;
$agrandarCallout-font: 2rem;
$verde-RN: rgb(125, 253, 232);
$verde-Subtitulos: rgb(34, 156, 136);