*{
    margin: 0;
    padding: 0;    
}


$font-titulos-spectral: 'Spectral', serif;
$font-titulos-base: 'Libre Baskerville', serif;
$font-titulos-cursiva: 'Meow Script', cursive;
$font-textos: 'IBM Plex Sans Thai', sans-serif;

$verde-RN: rgb(125, 253, 232);
$rojo-RN:rgb(250, 96, 96);
$amarillo-RN: rgb(255, 180, 41);
$azul-RN: rgba(0, 140, 255, 0.986);
$morado-RN: rgb(182, 0, 182);
$verdeAlto-RN: rgb(23, 168, 9);
$verde-Subtitulos: rgb(34, 156, 136);
